Music Search.json
{
  "name": "Music Search",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        32
      ],
      "id": "e109d5c6-03c2-43eb-8b34-51cd11f92932",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nlet chatId = null;\nlet messageId = null;\nlet username = null;\nlet firstName = null;\nlet lastName = null;\nlet isPremium = false;\nlet languageCode = 'en';\nlet searchText = null;\nlet businessConnectionId = null;\n\n// Проверяем оба варианта: message или business_message\nconst message = body.message || body.business_message;\n\nif (message) {\n  chatId = message.chat.id;\n  messageId = message.message_id;\n  \n  // ✅ Берем данные ОТПРАВИТЕЛЯ из from\n  if (message.from) {\n    username = message.from.username || null;\n    firstName = message.from.first_name || '';\n    lastName = message.from.last_name || '';\n    isPremium = message.from.is_premium || false;\n    languageCode = message.from.language_code || 'en';\n  }\n  \n  searchText = message.text || '';\n}\n\n// ✅ Берем business_connection_id из business_message\nif (body.business_message) {\n  businessConnectionId = body.business_message.business_connection_id;\n}\n\n// Убираем префиксы \"Music\" или \"Музыка\"\nif (searchText) {\n  searchText = searchText.replace(/^(music|музыка)\\s+/i, '');\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    username: username,\n    first_name: firstName,\n    last_name: lastName,\n    is_premium: isPremium,\n    language_code: languageCode,\n    search_text: searchText,\n    business_connection_id: businessConnectionId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        32
      ],
      "id": "3c3f94f1-2422-4188-823c-88a22f29318a",
      "name": "Parse search command"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "business_connection_id",
              "value": "={{ $('Parse search command').item.json.business_connection_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"reply_to_message_id\": {{ $json.reply_to_message_id }},\n  \"text\": \"Music:\",\n  \"reply_markup\": {{ JSON.stringify($json.reply_markup) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        288
      ],
      "id": "066aad34-0450-4588-8f26-b3bd9097a8f2",
      "name": "Send API Buttons",
      "notes": "Отправка сообщения пользователя в топик"
    },
    {
      "parameters": {
        "url": "=https://api.deezer.com/search?q={{ $json.search_query }}&index=0&limit=25",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        32
      ],
      "id": "b01e7b16-ba63-4528-b124-a92c69e85c10",
      "name": "Deezer"
    },
    {
      "parameters": {
        "jsCode": "const deezerData = $input.first().json;\nconst tracks = deezerData.data;\nconst total = deezerData.total;\nconst parsedData = $('Parse search command').first().json;\n\nif (!tracks || tracks.length === 0) {\n  return [{\n    json: {\n      chat_id: parsedData.chat_id,\n      reply_to_message_id: parsedData.message_id,\n      text: `❌ Nothing found: <b>${parsedData.search_text}</b>\\n\\n💡 Try:\\n• Artist name only\\n• Song title only\\n• Different spelling`,\n      parse_mode: 'HTML'\n    }\n  }];\n}\n\nconst chatId = parsedData.chat_id;\nconst replyToMessageId = parsedData.message_id;\nconst query = parsedData.search_text;\nconst offset = 0;\n\nconst photo = tracks[0]?.album?.cover_big\n  || tracks[0]?.album?.cover_medium\n  || '';\n\nconst displayTracks = tracks.slice(0, 10);\n\nconst inline_keyboard = displayTracks.map(track => ([\n  {\n    text: `🎵 ${track.title} — ${track.artist.name}`,\n    callback_data: `dz|${track.id}`\n  }\n]));\n\nif (offset + 10 < total) {\n  inline_keyboard.push([\n    {\n      text: `More… (${offset + 10}/${total})`,\n      callback_data: `dzmore|${query}|${offset + 10}`\n    }\n  ]);\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    reply_to_message_id: replyToMessageId,\n    photo: photo,\n    caption: `🔍 Search results for: <b>${query}</b>`,\n    parse_mode: 'HTML',\n    reply_markup: { inline_keyboard }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        288
      ],
      "id": "df256c09-4b0f-4e75-81d4-4a2b55dbfd30",
      "name": "Buttons"
    },
    {
      "parameters": {
        "jsCode": "const searchText = $('Parse search command').first().json.search_text || '';\nconst cleanQuery = searchText\n  .replace(/[^\\w\\s\\u0400-\\u04FF-]/gi, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    search_query: encodeURIComponent(cleanQuery)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        32
      ],
      "id": "7773e777-f329-44cf-877e-8fdc8d5670a9",
      "name": "Deezer  Norm text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        288
      ],
      "id": "fe80999e-6857-4da8-9ce8-0a7e7888b610",
      "name": "No Operation, do nothing11"
    },
    {
      "parameters": {
        "content": "[\n  {\n    \"chat_id\": 1XXXXXX5,\n    \"message_id\": 7XXX0,\n    \"username\": \"sapelon\",\n    \"first_name\": \"₿\",\n    \"last_name\": \"\",\n    \"is_premium\": true,\n    \"language_code\": \"en\",\n    \"search_text\": \"Eminem\",\n    \"business_connection_id\": \"DXXXXXXXXXXXXXXXXXXxc\"\n  }\n]",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -256
      ],
      "typeVersion": 1,
      "id": "71025e25-a7ec-413f-879e-d57535ee2c69",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "This is a query sanitizer — it cleans and prepares a user's search query for the Deezer API.\n\nWhat it removes:\nRemoves\tKeeps\n[^\\/\\w\\s\\u0400-\\u04FF-]\tLetters (A-Z, a-z, А-Я, а-я)\nSpecial characters (!@#$%^&*()=+)\tNumbers (0-9)\nPunctuation (. , ; \tSpaces\nQuotes (\" ')\tHyphens (-)\n",
        "height": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -256
      ],
      "typeVersion": 1,
      "id": "0a34b039-5a34-42b8-a7cc-e941655ebbf8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "[\n  {\n    \"data\": [\n      {\n        \"id\": 1109739,\n        \"readable\": true,\n        \"title\": \"Mockingbird\",\n        \"title_short\": \"Mockingbird\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10400813\",\n        \"link\": \"https://www.deezer.com/track/1109739\",\n        \"duration\": 251,\n        \"rank\": 964816,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/e/4/5/0/e4589311b7cdd524d1767bc2b7b6e17f.mp3?hdnea=exp=1782735515~acl=/api/1/1/e/4/5/0/e4589311b7cdd524d1767bc2b7b6e17f.mp3*~data=user_id=0,application_id=42~hmac=fe438f9fb74f722f6c318da34b9e199b508e821886d3fb427df525ccd94bdadf\",\n        \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 119606,\n          \"title\": \"Curtain Call: The Hits\",\n          \"cover\": \"https://api.deezer.com/album/119606/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n          \"tracklist\": \"https://api.deezer.com/album/119606/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 916445,\n        \"readable\": true,\n        \"title\": \"Till I Collapse\",\n        \"title_short\": \"Till I Collapse\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10211066\",\n        \"link\": \"https://www.deezer.com/track/916445\",\n        \"duration\": 297,\n        \"rank\": 908564,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/8/4/6/0/846995adc7246b0d3a90d6c3281a298a.mp3?hdnea=exp=1782735515~acl=/api/1/1/8/4/6/0/846995adc7246b0d3a90d6c3281a298a.mp3*~data=user_id=0,application_id=42~hmac=1c8bc32e179bbf4de3fc606c3848b3351c0ad29f4d234b45cb5ff80d60ea274a\",\n        \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 103248,\n          \"title\": \"The Eminem Show\",\n          \"cover\": \"https://api.deezer.com/album/103248/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n          \"tracklist\": \"https://api.deezer.com/album/103248/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 3729755,\n        \"readable\": true,\n        \"title\": \"Beautiful\",\n        \"title_short\": \"Beautiful\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM70964089\",\n        \"link\": \"https://www.deezer.com/track/3729755\",\n        \"duration\": 392,\n        \"rank\": 687663,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 1,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/4/c/c/0/4cc7f9947fd0c69340b1cc54782d4284.mp3?hdnea=exp=1782735515~acl=/api/1/1/4/c/c/0/4cc7f9947fd0c69340b1cc54782d4284.mp3*~data=user_id=0,application_id=42~hmac=34daf66183bdc1419ea023634eb45d365b8fc4edb0c889b7bb01e33f6b827b62\",\n        \"md5_image\": \"64148d1a543348370dd295e9177258d3\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 350198,\n          \"title\": \"Relapse\",\n          \"cover\": \"https://api.deezer.com/album/350198/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/64148d1a543348370dd295e9177258d3/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/64148d1a543348370dd295e9177258d3/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/64148d1a543348370dd295e9177258d3/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/64148d1a543348370dd295e9177258d3/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"64148d1a543348370dd295e9177258d3\",\n          \"tracklist\": \"https://api.deezer.com/album/350198/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 916424,\n        \"readable\": true,\n        \"title\": \"Without Me\",\n        \"title_short\": \"Without Me\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10211038\",\n        \"link\": \"https://www.deezer.com/track/916424\",\n        \"duration\": 290,\n        \"rank\": 961431,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/a/e/b/0/aeb58f2f63ee57fb9c47cbe8fb5ccdaa.mp3?hdnea=exp=1782735515~acl=/api/1/1/a/e/b/0/aeb58f2f63ee57fb9c47cbe8fb5ccdaa.mp3*~data=user_id=0,application_id=42~hmac=393c772c3b5fa0313e3bf51e57c1a9ecbeaff380a576421906674e11ffd38f0e\",\n        \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 103248,\n          \"title\": \"The Eminem Show\",\n          \"cover\": \"https://api.deezer.com/album/103248/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n          \"tracklist\": \"https://api.deezer.com/album/103248/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 1109731,\n        \"readable\": true,\n        \"title\": \"Lose Yourself\",\n        \"title_short\": \"Lose Yourself\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10211559\",\n        \"link\": \"https://www.deezer.com/track/1109731\",\n        \"duration\": 326,\n        \"rank\": 980436,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/2/7/a/0/27a14827ff1e82c5e40e8b6a934a8637.mp3?hdnea=exp=1782735515~acl=/api/1/1/2/7/a/0/27a14827ff1e82c5e40e8b6a934a8637.mp3*~data=user_id=0,application_id=42~hmac=636cc4d25332eb67cd6a02115a7f3586b9a61ea66f7be7031a66c346d90122aa\",\n        \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 119606,\n          \"title\": \"Curtain Call: The Hits\",\n          \"cover\": \"https://api.deezer.com/album/119606/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n          \"tracklist\": \"https://api.deezer.com/album/119606/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 1109737,\n        \"readable\": true,\n        \"title\": \"The Real Slim Shady\",\n        \"title_short\": \"The Real Slim Shady\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10000448\",\n        \"link\": \"https://www.deezer.com/track/1109737\",\n        \"duration\": 284,\n        \"rank\": 936115,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/8/8/8/0/8884d70117209dbf5b9df927eda209da.mp3?hdnea=exp=1782735515~acl=/api/1/1/8/8/8/0/8884d70117209dbf5b9df927eda209da.mp3*~data=user_id=0,application_id=42~hmac=36974ba62c7915da929c5445d5a29348c17d1f8244b3a200c9b15e9185451791\",\n        \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 119606,\n          \"title\": \"Curtain Call: The Hits\",\n          \"cover\": \"https://api.deezer.com/album/119606/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n          \"tracklist\": \"https://api.deezer.com/album/119606/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 72160314,\n        \"readable\": true,\n        \"title\": \"Rap God\",\n        \"title_short\": \"Rap God\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM71314079\",\n        \"link\": \"https://www.deezer.com/track/72160314\",\n        \"duration\": 364,\n        \"rank\": 770413,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 1,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/1/6/e/0/16e1d27a5014166ef276b916c2b0f35d.mp3?hdnea=exp=1782735515~acl=/api/1/1/1/6/e/0/16e1d27a5014166ef276b916c2b0f35d.mp3*~data=user_id=0,application_id=42~hmac=f31d276b422fd7ee9089e73c7a50137429e9c8b9737789383b70d0ad929c1991\",\n        \"md5_image\": \"b6938db3addc3ccd9575d6d12220e466\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 7090505,\n          \"title\": \"The Marshall Mathers LP2 (Deluxe)\",\n          \"cover\": \"https://api.deezer.com/album/7090505/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/b6938db3addc3ccd9575d6d12220e466/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/b6938db3addc3ccd9575d6d12220e466/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/b6938db3addc3ccd9575d6d12220e466/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/b6938db3addc3ccd9575d6d12220e466/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"b6938db3addc3ccd9575d6d12220e466\",\n          \"tracklist\": \"https://api.deezer.com/album/7090505/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 436510892,\n        \"readable\": true,\n        \"title\": \"Love The Way You Lie (Part II) (Pt. 2)\",\n        \"title_short\": \"Love The Way You Lie (Part II)\",\n        \"title_version\": \"(Pt. 2)\",\n        \"isrc\": \"USUM71026643\",\n        \"link\": \"https://www.deezer.com/track/436510892\",\n        \"duration\": 296,\n        \"rank\": 662205,\n        \"explicit_lyrics\": false,\n        \"explicit_content_lyrics\": 3,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/8/2/4/0/824514dcc03b500fbe277308cf79d726.mp3?hdnea=exp=1782735515~acl=/api/1/1/8/2/4/0/824514dcc03b500fbe277308cf79d726.mp3*~data=user_id=0,application_id=42~hmac=054ac6aab4c50005fa016eaad22a3c35a214b084e7135e1df44ca232b0cf206b\",\n        \"md5_image\": \"cfdbcb2c4a25789c59c45db793024ce0\",\n        \"artist\": {\n          \"id\": 564,\n          \"name\": \"Rihanna\",\n          \"link\": \"https://www.deezer.com/artist/564\",\n          \"picture\": \"https://api.deezer.com/artist/564/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/b78cdc205fae2641b89208e78b30e1b3/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/b78cdc205fae2641b89208e78b30e1b3/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/b78cdc205fae2641b89208e78b30e1b3/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/b78cdc205fae2641b89208e78b30e1b3/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/564/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 52755402,\n          \"title\": \"Loud\",\n          \"cover\": \"https://api.deezer.com/album/52755402/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/cfdbcb2c4a25789c59c45db793024ce0/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/cfdbcb2c4a25789c59c45db793024ce0/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/cfdbcb2c4a25789c59c45db793024ce0/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/cfdbcb2c4a25789c59c45db793024ce0/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"cfdbcb2c4a25789c59c45db793024ce0\",\n          \"tracklist\": \"https://api.deezer.com/album/52755402/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 706187912,\n        \"readable\": true,\n        \"title\": \"Homicide\",\n        \"title_short\": \"Homicide\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM71908267\",\n        \"link\": \"https://www.deezer.com/track/706187912\",\n        \"duration\": 245,\n        \"rank\": 542037,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 1,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/b/f/a/0/bfa66cce21b702d9d59e7903a2fef1a3.mp3?hdnea=exp=1782735515~acl=/api/1/1/b/f/a/0/bfa66cce21b702d9d59e7903a2fef1a3.mp3*~data=user_id=0,application_id=42~hmac=2b8b246354b4ff86437d6c2746041ec2810add350fe9f5ecad804ea71969b0a1\",\n        \"md5_image\": \"cdd8923155aaa75ef14a1f542cce72a5\",\n        \"artist\": {\n          \"id\": 72660,\n          \"name\": \"Logic\",\n          \"link\": \"https://www.deezer.com/artist/72660\",\n          \"picture\": \"https://api.deezer.com/artist/72660/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/6929bd41e02067da3d8640f4d4c7114a/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/6929bd41e02067da3d8640f4d4c7114a/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/6929bd41e02067da3d8640f4d4c7114a/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/6929bd41e02067da3d8640f4d4c7114a/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/72660/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 102306542,\n          \"title\": \"Confessions of a Dangerous Mind\",\n          \"cover\": \"https://api.deezer.com/album/102306542/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/cdd8923155aaa75ef14a1f542cce72a5/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/cdd8923155aaa75ef14a1f542cce72a5/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/cdd8923155aaa75ef14a1f542cce72a5/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/cdd8923155aaa75ef14a1f542cce72a5/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"cdd8923155aaa75ef14a1f542cce72a5\",\n          \"tracklist\": \"https://api.deezer.com/album/102306542/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 128743587,\n        \"readable\": true,\n        \"title\": \"What's The Difference\",\n        \"title_short\": \"What's The Difference\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR19915074\",\n        \"link\": \"https://www.deezer.com/track/128743587\",\n        \"duration\": 244,\n        \"rank\": 793825,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 2,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/b/d/1/0/bd150be90115cadfdaf00db712ac9dad.mp3?hdnea=exp=1782735515~acl=/api/1/1/b/d/1/0/bd150be90115cadfdaf00db712ac9dad.mp3*~data=user_id=0,application_id=42~hmac=4be3c37717e116a856d2f9936a7dca6f29e23ecab76076625d49a850c04dc5eb\",\n        \"md5_image\": \"0d9a24d054cbc5ab11843beed9f1422b\",\n        \"artist\": {\n          \"id\": 763,\n          \"name\": \"Dr. Dre\",\n          \"link\": \"https://www.deezer.com/artist/763\",\n          \"picture\": \"https://api.deezer.com/artist/763/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/5af98b093efb7b818e4e084621c76b85/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/5af98b093efb7b818e4e084621c76b85/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/5af98b093efb7b818e4e084621c76b85/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/5af98b093efb7b818e4e084621c76b85/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/763/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 13606387,\n          \"title\": \"2001\",\n          \"cover\": \"https://api.deezer.com/album/13606387/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/0d9a24d054cbc5ab11843beed9f1422b/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/0d9a24d054cbc5ab11843beed9f1422b/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/0d9a24d054cbc5ab11843beed9f1422b/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/0d9a24d054cbc5ab11843beed9f1422b/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"0d9a24d054cbc5ab11843beed9f1422b\",\n          \"tracklist\": \"https://api.deezer.com/album/13606387/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 979041,\n        \"readable\": true,\n        \"title\": \"Smack That (Clean)\",\n        \"title_short\": \"Smack That\",\n        \"title_version\": \"(Clean)\",\n        \"isrc\": \"USUM70609035\",\n        \"link\": \"https://www.deezer.com/track/979041\",\n        \"duration\": 212,\n        \"rank\": 860263,\n        \"explicit_lyrics\": false,\n        \"explicit_content_lyrics\": 3,\n        \"explicit_content_cover\": 2,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/6/0/9/0/60968e50d4c9b473bd56c61204b8d8f7.mp3?hdnea=exp=1782735515~acl=/api/1/1/6/0/9/0/60968e50d4c9b473bd56c61204b8d8f7.mp3*~data=user_id=0,application_id=42~hmac=4d16df77c556b8a41199c34746a04ebea05c98d37c86bc1adcb17fce93e29879\",\n        \"md5_image\": \"bc4d98904d61661cc6d7dd53745340d0\",\n        \"artist\": {\n          \"id\": 38,\n          \"name\": \"Akon\",\n          \"link\": \"https://www.deezer.com/artist/38\",\n          \"picture\": \"https://api.deezer.com/artist/38/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/2b0f21d5b1c6d7a674d9a60d4a6207b2/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/2b0f21d5b1c6d7a674d9a60d4a6207b2/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/2b0f21d5b1c6d7a674d9a60d4a6207b2/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/2b0f21d5b1c6d7a674d9a60d4a6207b2/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/38/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 108938,\n          \"title\": \"Konvicted\",\n          \"cover\": \"https://api.deezer.com/album/108938/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/bc4d98904d61661cc6d7dd53745340d0/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/bc4d98904d61661cc6d7dd53745340d0/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/bc4d98904d61661cc6d7dd53745340d0/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/bc4d98904d61661cc6d7dd53745340d0/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"bc4d98904d61661cc6d7dd53745340d0\",\n          \"tracklist\": \"https://api.deezer.com/album/108938/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 1575472,\n        \"readable\": true,\n        \"title\": \"You Don't Know\",\n        \"title_short\": \"You Don't Know\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM70613171\",\n        \"link\": \"https://www.deezer.com/track/1575472\",\n        \"duration\": 257,\n        \"rank\": 737382,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 2,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/4/2/1/0/42196c3196f303f83b6fe0a4a89e66e6.mp3?hdnea=exp=1782735515~acl=/api/1/1/4/2/1/0/42196c3196f303f83b6fe0a4a89e66e6.mp3*~data=user_id=0,application_id=42~hmac=add9b7b8a5a119ae9a8e48357f97c5a8480d26cc5c40e0fe9c38362d78cb350b\",\n        \"md5_image\": \"90b0b4820d5483d707132b79605d870b\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 161523,\n          \"title\": \"Eminem Presents The Re-Up\",\n          \"cover\": \"https://api.deezer.com/album/161523/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/90b0b4820d5483d707132b79605d870b/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/90b0b4820d5483d707132b79605d870b/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/90b0b4820d5483d707132b79605d870b/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/90b0b4820d5483d707132b79605d870b/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"90b0b4820d5483d707132b79605d870b\",\n          \"tracklist\": \"https://api.deezer.com/album/161523/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 128743593,\n        \"readable\": true,\n        \"title\": \"Forgot About Dre\",\n        \"title_short\": \"Forgot About Dre\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR19915077\",\n        \"link\": \"https://www.deezer.com/track/128743593\",\n        \"duration\": 222,\n        \"rank\": 800992,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 2,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/3/8/6/0/386934fb234fcbad988e0d49da77c597.mp3?hdnea=exp=1782735515~acl=/api/1/1/3/8/6/0/386934fb234fcbad988e0d49da77c597.mp3*~data=user_id=0,application_id=42~hmac=7d69408573abdee846ce080470410f4239bd8fdb404b3f38ebe69035cb365efb\",\n        \"md5_image\": \"0d9a24d054cbc5ab11843beed9f1422b\",\n        \"artist\": {\n          \"id\": 763,\n          \"name\": \"Dr. Dre\",\n          \"link\": \"https://www.deezer.com/artist/763\",\n          \"picture\": \"https://api.deezer.com/artist/763/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/5af98b093efb7b818e4e084621c76b85/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/5af98b093efb7b818e4e084621c76b85/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/5af98b093efb7b818e4e084621c76b85/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/5af98b093efb7b818e4e084621c76b85/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/763/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 13606387,\n          \"title\": \"2001\",\n          \"cover\": \"https://api.deezer.com/album/13606387/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/0d9a24d054cbc5ab11843beed9f1422b/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/0d9a24d054cbc5ab11843beed9f1422b/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/0d9a24d054cbc5ab11843beed9f1422b/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/0d9a24d054cbc5ab11843beed9f1422b/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"0d9a24d054cbc5ab11843beed9f1422b\",\n          \"tracklist\": \"https://api.deezer.com/album/13606387/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 1109733,\n        \"readable\": true,\n        \"title\": \"Shake That\",\n        \"title_short\": \"Shake That\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM70506389\",\n        \"link\": \"https://www.deezer.com/track/1109733\",\n        \"duration\": 275,\n        \"rank\": 750186,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/5/f/e/0/5fec5acaaf90645e08bd607470c5a8c8.mp3?hdnea=exp=1782735515~acl=/api/1/1/5/f/e/0/5fec5acaaf90645e08bd607470c5a8c8.mp3*~data=user_id=0,application_id=42~hmac=8743a03b8ddf9d7163024e6297c5d4779e8b7d8bfc64a33777197db08639ed65\",\n        \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 119606,\n          \"title\": \"Curtain Call: The Hits\",\n          \"cover\": \"https://api.deezer.com/album/119606/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n          \"tracklist\": \"https://api.deezer.com/album/119606/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 6461432,\n        \"readable\": true,\n        \"title\": \"Not Afraid\",\n        \"title_short\": \"Not Afraid\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM71011769\",\n        \"link\": \"https://www.deezer.com/track/6461432\",\n        \"duration\": 251,\n        \"rank\": 863428,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 1,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/b/8/c/0/b8c80674e1efeb06186a8c87f40a54f9.mp3?hdnea=exp=1782735515~acl=/api/1/1/b/8/c/0/b8c80674e1efeb06186a8c87f40a54f9.mp3*~data=user_id=0,application_id=42~hmac=13efe3ec107ab078dd20712320cede1fbacb964ea518c73192bc84f3790a724f\",\n        \"md5_image\": \"be682506145061814eddee648edb7c59\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 595243,\n          \"title\": \"Recovery\",\n          \"cover\": \"https://api.deezer.com/album/595243/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/be682506145061814eddee648edb7c59/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/be682506145061814eddee648edb7c59/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/be682506145061814eddee648edb7c59/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/be682506145061814eddee648edb7c59/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"be682506145061814eddee648edb7c59\",\n          \"tracklist\": \"https://api.deezer.com/album/595243/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 72160317,\n        \"readable\": true,\n        \"title\": \"The Monster\",\n        \"title_short\": \"The Monster\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM71314082\",\n        \"link\": \"https://www.deezer.com/track/72160317\",\n        \"duration\": 250,\n        \"rank\": 897975,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 1,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/9/0/0/0/900393147281069933013563cea5817b.mp3?hdnea=exp=1782735515~acl=/api/1/1/9/0/0/0/900393147281069933013563cea5817b.mp3*~data=user_id=0,application_id=42~hmac=e4a1fadbc8503685e9aee19e61234b8c2d9d8b5ed37e1ceecc7cf1321ec7b338\",\n        \"md5_image\": \"b6938db3addc3ccd9575d6d12220e466\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 7090505,\n          \"title\": \"The Marshall Mathers LP2 (Deluxe)\",\n          \"cover\": \"https://api.deezer.com/album/7090505/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/b6938db3addc3ccd9575d6d12220e466/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/b6938db3addc3ccd9575d6d12220e466/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/b6938db3addc3ccd9575d6d12220e466/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/b6938db3addc3ccd9575d6d12220e466/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"b6938db3addc3ccd9575d6d12220e466\",\n          \"tracklist\": \"https://api.deezer.com/album/7090505/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 916427,\n        \"readable\": true,\n        \"title\": \"Superman\",\n        \"title_short\": \"Superman\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10211062\",\n        \"link\": \"https://www.deezer.com/track/916427\",\n        \"duration\": 350,\n        \"rank\": 862794,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/9/a/e/0/9ae7b301a2467f1d505c6382a8da1e29.mp3?hdnea=exp=1782735515~acl=/api/1/1/9/a/e/0/9ae7b301a2467f1d505c6382a8da1e29.mp3*~data=user_id=0,application_id=42~hmac=b88bf227c949a089f9cea52e0a4b7842adafa7fd6c4fba0d08019463a16ef2ea\",\n        \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 103248,\n          \"title\": \"The Eminem Show\",\n          \"cover\": \"https://api.deezer.com/album/103248/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n          \"tracklist\": \"https://api.deezer.com/album/103248/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 6461440,\n        \"readable\": true,\n        \"title\": \"Love The Way You Lie\",\n        \"title_short\": \"Love The Way You Lie\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM71015397\",\n        \"link\": \"https://www.deezer.com/track/6461440\",\n        \"duration\": 263,\n        \"rank\": 932417,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 1,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/c/8/9/0/c89ba14b5d142a98e3ad48036b05d10d.mp3?hdnea=exp=1782735515~acl=/api/1/1/c/8/9/0/c89ba14b5d142a98e3ad48036b05d10d.mp3*~data=user_id=0,application_id=42~hmac=b036745f271777493ee2e88887a33ec2756b19acfd73d354c18218cbf0a46409\",\n        \"md5_image\": \"be682506145061814eddee648edb7c59\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 595243,\n          \"title\": \"Recovery\",\n          \"cover\": \"https://api.deezer.com/album/595243/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/be682506145061814eddee648edb7c59/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/be682506145061814eddee648edb7c59/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/be682506145061814eddee648edb7c59/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/be682506145061814eddee648edb7c59/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"be682506145061814eddee648edb7c59\",\n          \"tracklist\": \"https://api.deezer.com/album/595243/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 548348732,\n        \"readable\": true,\n        \"title\": \"Venom (Music From The Motion Picture)\",\n        \"title_short\": \"Venom\",\n        \"title_version\": \"(Music From The Motion Picture)\",\n        \"isrc\": \"USUM71813345\",\n        \"link\": \"https://www.deezer.com/track/548348732\",\n        \"duration\": 270,\n        \"rank\": 752403,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 1,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/6/b/8/0/6b88f58650d82d0d4c445985283691c2.mp3?hdnea=exp=1782735515~acl=/api/1/1/6/b/8/0/6b88f58650d82d0d4c445985283691c2.mp3*~data=user_id=0,application_id=42~hmac=e7bd26394619b76fe93636b3e996fa3e0b15c0c92ae4991331246051acd3e884\",\n        \"md5_image\": \"bf74fc764097630ba58782ae79cfbee6\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 72000342,\n          \"title\": \"Kamikaze\",\n          \"cover\": \"https://api.deezer.com/album/72000342/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/bf74fc764097630ba58782ae79cfbee6/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/bf74fc764097630ba58782ae79cfbee6/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/bf74fc764097630ba58782ae79cfbee6/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/bf74fc764097630ba58782ae79cfbee6/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"bf74fc764097630ba58782ae79cfbee6\",\n          \"tracklist\": \"https://api.deezer.com/album/72000342/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 1109727,\n        \"readable\": true,\n        \"title\": \"The Way I Am\",\n        \"title_short\": \"The Way I Am\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10000589\",\n        \"link\": \"https://www.deezer.com/track/1109727\",\n        \"duration\": 291,\n        \"rank\": 683446,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/2/e/2/0/2e22eedde36f592ceed2caa9439ffd86.mp3?hdnea=exp=1782735515~acl=/api/1/1/2/e/2/0/2e22eedde36f592ceed2caa9439ffd86.mp3*~data=user_id=0,application_id=42~hmac=aa3ad0632059a32e687815b056b7889769c1f4baf44881faabf0e9d565bbcb3e\",\n        \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 119606,\n          \"title\": \"Curtain Call: The Hits\",\n          \"cover\": \"https://api.deezer.com/album/119606/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n          \"tracklist\": \"https://api.deezer.com/album/119606/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 916414,\n        \"readable\": true,\n        \"title\": \"Cleanin' Out My Closet\",\n        \"title_short\": \"Cleanin' Out My Closet\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10211054\",\n        \"link\": \"https://www.deezer.com/track/916414\",\n        \"duration\": 297,\n        \"rank\": 748879,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/b/2/0/0/b206ffb6c0228197b7c348a3d1b23907.mp3?hdnea=exp=1782735515~acl=/api/1/1/b/2/0/0/b206ffb6c0228197b7c348a3d1b23907.mp3*~data=user_id=0,application_id=42~hmac=cdd8e06536973f659db02ae241c3b1b4f37678dfebd49fc85edc747a578fd868\",\n        \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 103248,\n          \"title\": \"The Eminem Show\",\n          \"cover\": \"https://api.deezer.com/album/103248/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n          \"tracklist\": \"https://api.deezer.com/album/103248/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 532704,\n        \"readable\": true,\n        \"title\": \"My Name (feat. Eminem & Nate Dogg) (Explicit Version)\",\n        \"title_short\": \"My Name (feat. Eminem & Nate Dogg)\",\n        \"title_version\": \"(Explicit Version)\",\n        \"isrc\": \"USLR50200127\",\n        \"link\": \"https://www.deezer.com/track/532704\",\n        \"duration\": 272,\n        \"rank\": 630691,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 2,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/2/7/c/0/27c84ea3250de6413097b63b9bfd8775.mp3?hdnea=exp=1782735515~acl=/api/1/1/2/7/c/0/27c84ea3250de6413097b63b9bfd8775.mp3*~data=user_id=0,application_id=42~hmac=631cb477f735244c802b8ffab12e0c7d51624bc3bb73ef4c02ed81243584b372\",\n        \"md5_image\": \"26be06285e962aedd3a05b2e8f0ccc9a\",\n        \"artist\": {\n          \"id\": 2541,\n          \"name\": \"Xzibit\",\n          \"link\": \"https://www.deezer.com/artist/2541\",\n          \"picture\": \"https://api.deezer.com/artist/2541/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/50417a981dfe1d68b694f12154d6b795/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/50417a981dfe1d68b694f12154d6b795/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/50417a981dfe1d68b694f12154d6b795/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/50417a981dfe1d68b694f12154d6b795/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/2541/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 71022,\n          \"title\": \"Man VS Machine\",\n          \"cover\": \"https://api.deezer.com/album/71022/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/26be06285e962aedd3a05b2e8f0ccc9a/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/26be06285e962aedd3a05b2e8f0ccc9a/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/26be06285e962aedd3a05b2e8f0ccc9a/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/26be06285e962aedd3a05b2e8f0ccc9a/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"26be06285e962aedd3a05b2e8f0ccc9a\",\n          \"tracklist\": \"https://api.deezer.com/album/71022/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 916426,\n        \"readable\": true,\n        \"title\": \"Sing For The Moment\",\n        \"title_short\": \"Sing For The Moment\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR10211061\",\n        \"link\": \"https://www.deezer.com/track/916426\",\n        \"duration\": 339,\n        \"rank\": 845578,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/a/2/2/0/a225f296d9b919ddfa1f9e6fe2c1e90d.mp3?hdnea=exp=1782735515~acl=/api/1/1/a/2/2/0/a225f296d9b919ddfa1f9e6fe2c1e90d.mp3*~data=user_id=0,application_id=42~hmac=22af77af3b4454a7f7b8a057824607e542d90a4d11ce837efafd9ecf83704736\",\n        \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 103248,\n          \"title\": \"The Eminem Show\",\n          \"cover\": \"https://api.deezer.com/album/103248/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/ec3c8ed67427064c70f67e5815b74cef/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"ec3c8ed67427064c70f67e5815b74cef\",\n          \"tracklist\": \"https://api.deezer.com/album/103248/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 854914322,\n        \"readable\": true,\n        \"title\": \"Godzilla\",\n        \"title_short\": \"Godzilla\",\n        \"title_version\": \"\",\n        \"isrc\": \"USUM72000788\",\n        \"link\": \"https://www.deezer.com/track/854914322\",\n        \"duration\": 211,\n        \"rank\": 804791,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 1,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/f/4/0/0/f40c4c83e4b6db4e154f9d54234e8919.mp3?hdnea=exp=1782735515~acl=/api/1/1/f/4/0/0/f40c4c83e4b6db4e154f9d54234e8919.mp3*~data=user_id=0,application_id=42~hmac=7876d927da38ea2f5c9d3383a82f289cda9ac0250bc46edce0bf4e4166cc1fb0\",\n        \"md5_image\": \"4d00a7848dc8af475973ff1761ad828d\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 127270232,\n          \"title\": \"Music To Be Murdered By\",\n          \"cover\": \"https://api.deezer.com/album/127270232/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/4d00a7848dc8af475973ff1761ad828d/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/4d00a7848dc8af475973ff1761ad828d/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/4d00a7848dc8af475973ff1761ad828d/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/4d00a7848dc8af475973ff1761ad828d/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"4d00a7848dc8af475973ff1761ad828d\",\n          \"tracklist\": \"https://api.deezer.com/album/127270232/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      },\n      {\n        \"id\": 1109729,\n        \"readable\": true,\n        \"title\": \"My Name Is\",\n        \"title_short\": \"My Name Is\",\n        \"title_version\": \"\",\n        \"isrc\": \"USIR19902059\",\n        \"link\": \"https://www.deezer.com/track/1109729\",\n        \"duration\": 268,\n        \"rank\": 748192,\n        \"explicit_lyrics\": true,\n        \"explicit_content_lyrics\": 1,\n        \"explicit_content_cover\": 0,\n        \"preview\": \"https://cdnt-preview.dzcdn.net/api/1/1/b/d/c/0/bdc51623d58600791c11720906bac5b3.mp3?hdnea=exp=1782735515~acl=/api/1/1/b/d/c/0/bdc51623d58600791c11720906bac5b3.mp3*~data=user_id=0,application_id=42~hmac=6cbeb3d7db7601511bda41e5968c86649b8d59f3db9810aa5699d601e0f9b271\",\n        \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n        \"artist\": {\n          \"id\": 13,\n          \"name\": \"Eminem\",\n          \"link\": \"https://www.deezer.com/artist/13\",\n          \"picture\": \"https://api.deezer.com/artist/13/image\",\n          \"picture_small\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/56x56-000000-80-0-0.jpg\",\n          \"picture_medium\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/250x250-000000-80-0-0.jpg\",\n          \"picture_big\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/500x500-000000-80-0-0.jpg\",\n          \"picture_xl\": \"https://cdn-images.dzcdn.net/images/artist/0f30bbd33a680030054af004d698d6ac/1000x1000-000000-80-0-0.jpg\",\n          \"tracklist\": \"https://api.deezer.com/artist/13/top?limit=50\",\n          \"type\": \"artist\"\n        },\n        \"album\": {\n          \"id\": 119606,\n          \"title\": \"Curtain Call: The Hits\",\n          \"cover\": \"https://api.deezer.com/album/119606/image\",\n          \"cover_small\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/56x56-000000-80-0-0.jpg\",\n          \"cover_medium\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/250x250-000000-80-0-0.jpg\",\n          \"cover_big\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/500x500-000000-80-0-0.jpg\",\n          \"cover_xl\": \"https://cdn-images.dzcdn.net/images/cover/e2b36a9fda865cb2e9ed1476b6291a7d/1000x1000-000000-80-0-0.jpg\",\n          \"md5_image\": \"e2b36a9fda865cb2e9ed1476b6291a7d\",\n          \"tracklist\": \"https://api.deezer.com/album/119606/tracks\",\n          \"type\": \"album\"\n        },\n        \"type\": \"track\"\n      }\n    ],\n    \"total\": 204,\n    \"next\": \"https://api.deezer.com/search?q=Eminem&limit=25&index=25\"\n  }\n]",
        "height": 288,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -256
      ],
      "typeVersion": 1,
      "id": "162f483f-045e-4df5-970e-2da70bc33634",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "This code processes Deezer search results and builds an interactive message with track buttons for the user.\n\nButton Structure:\nEach track gets a button:\n\njson\n{\n  \"text\": \"🎵 Lose Yourself — Eminem\",\n  \"callback_data\": \"dz|1109731\"\n}\n\"More…\" button (if more than 10 results):\n\njson\n{\n  \"text\": \"More… (10/25)\",\n  \"callback_data\": \"dzmore|Travis Scott|10\"\n}",
        "height": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        416
      ],
      "typeVersion": 1,
      "id": "609f2c97-dbbf-45c5-9477-df9d650eaa83",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Send TG Message with Song Buttons + More button",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        448
      ],
      "typeVersion": 1,
      "id": "67fe6dbd-bdd1-479e-a1b2-9f9f740ca342",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse search command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse search command": {
      "main": [
        [
          {
            "node": "Deezer  Norm text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send API Buttons": {
      "main": [
        [
          {
            "node": "No Operation, do nothing11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deezer": {
      "main": [
        [
          {
            "node": "Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buttons": {
      "main": [
        [
          {
            "node": "Send API Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deezer  Norm text": {
      "main": [
        [
          {
            "node": "Deezer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ba338f2-e0e8-4674-90da-bf9209da81be",
  "meta": {
    "instanceId": "148b2b278c24b3c49bc4399db7e7ce15ed94f5b1044d28401c56f6ab511f0347"
  },
  "id": "WjTsHMEoy5gzvV7T",
  "tags": []
}