Rate with TradingView.json
{
  "name": "Rate with TradingView",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "cfab86ad-8860-4e1f-a3e5-e1984ae13bdb",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -704,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://api.binance.com/api/v3/ticker/24hr?symbols=[\"{{ $json.binanceSymbol }}\"]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        16
      ],
      "id": "53b1d8b7-5587-4c19-a337-00a797d695bf",
      "name": "Get Binance Ticker"
    },
    {
      "parameters": {
        "jsCode": "const tickerData = $input.first().json;\nconst originalData = $('Parse Request').item.json;\n\nconst price = parseFloat(tickerData.lastPrice).toFixed(2);\nconst change = parseFloat(tickerData.priceChangePercent).toFixed(2);\nconst high = parseFloat(tickerData.highPrice).toFixed(2);\nconst low = parseFloat(tickerData.lowPrice).toFixed(2);\nconst trend = change >= 0 ? '📈' : '📉';\nconst changeSign = change >= 0 ? '+' : '';\n\nconst text = `💰 *${originalData.baseCurrency}/${originalData.quoteCurrency}*\n\n${trend} *Price:* ${price} ${originalData.quoteCurrency}\n📊 *24h change:* ${changeSign}${change}%\n📈 *24h high:* ${high}\n📉 *24h low:* ${low}\n\n📈 [Open chart on TradingView](${originalData.chartLink})`;\n\nreturn [{\n  chat_id: originalData.chat_id,\n  text: text,\n  parse_mode: \"Markdown\",\n  business_connection_id: originalData.business_connection_id,\n  reply_to_message_id: originalData.reply_to_message_id\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        16
      ],
      "id": "32f67a0b-248c-404f-bfae-917565e713c7",
      "name": "Format Crypto Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8800811205:AAEKLbn5yJkIliXDEpJteRrCbngHgTwftf0/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        16
      ],
      "id": "3671eba9-f54e-454a-9468-354862ca6384",
      "name": "Send Telegram Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9bb0602-93b8-4c30-b727-f1388543ad59",
              "leftValue": "={{ $json.exchangeType }}",
              "rightValue": "crypto",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        144
      ],
      "id": "7c84d956-23bc-46f6-895a-b480476dba51",
      "name": "is crypto?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8800811205:AAEKLbn5yJkIliXDEpJteRrCbngHgTwftf0/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        208
      ],
      "id": "eff3618d-b627-4891-b030-86fe6bbfc015",
      "name": "Send Telegram Message1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scanner.tradingview.com/forex/scan",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbols\": {\n    \"tickers\": [\n      \n      \"{{ $json.tradingViewSymbol }}\"\n    ]\n  },\n  \"columns\": [\"close\", \"change\"]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        208
      ],
      "id": "0757c06e-d717-43ff-8548-f2aa19e9a565",
      "name": "Get Forex Rates"
    },
    {
      "parameters": {
        "jsCode": "const forexData = $input.first().json;\nconst originalData = $('Parse Request').item.json;\n\nlet price = null;\nlet change = null;\n\nif (forexData.data && forexData.data[0] && forexData.data[0].d) {\n  price = parseFloat(forexData.data[0].d[0]).toFixed(4);\n  change = parseFloat(forexData.data[0].d[1]).toFixed(2);\n}\n\nif (!price) {\n  return [{\n    chat_id: originalData.chat_id,  \n    text: \"❌ Failed to get currency rate. Please try again later.\",\n    business_connection_id: originalData.business_connection_id,\n    reply_to_message_id: originalData.reply_to_message_id\n  }];\n}\n\nconst trend = change >= 0 ? '📈' : '📉';\nconst changeSign = change >= 0 ? '+' : '';\n\nconst text = `💱 *${originalData.baseCurrency}/${originalData.quoteCurrency}*\n\n${trend} *Rate:* ${price}\n📊 *Change:* ${changeSign}${change}%\n\n📈 [Open chart on TradingView](${originalData.chartLink})`;\n\nreturn [{\n  chat_id: originalData.chat_id, \n  text: text,\n  parse_mode: \"Markdown\",\n  business_connection_id: originalData.business_connection_id,\n  reply_to_message_id: originalData.reply_to_message_id\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        208
      ],
      "id": "894ed1e8-c784-48ca-addd-f176f4e53406",
      "name": "Format Forex Response"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst message = body.business_message;\nconst text = message.text.toLowerCase();\nconst chatId = message.chat.id;\nconst businessId = message.business_connection_id;\nconst messageId = message.message_id;\n\nconst cleanText = text.replace(/rate\\s*/i, '').trim();\n\nconst patterns = [\n\n  { regex: /^([A-Za-z]{3,6})\\/([A-Za-z]{3,6})$/, type: 'separated' },\n\n  { regex: /^([A-Za-z]{3,8})([A-Za-z]{3,4})$/, type: 'joined' },\n\n  { regex: /^([A-Za-z]{3,6})$/, type: 'single' }\n];\n\nlet baseCurrency = null;\nlet quoteCurrency = null;\nlet matched = false;\n\nfor (const pattern of patterns) {\n  const match = cleanText.match(pattern.regex);\n  if (match) {\n    baseCurrency = match[1].toUpperCase();\n    quoteCurrency = match[2] ? match[2].toUpperCase() : null;\n    matched = true;\n    break;\n  }\n}\n\nconst specialCrypto = ['ETHUSDT', 'MATICUSDT', 'AVAXUSDT', 'DOTUSDT', 'LINKUSDT', 'TONUSDT'];\nfor (const crypto of specialCrypto) {\n  if (cleanText === crypto.toLowerCase()) {\n    baseCurrency = crypto.replace('USDT', '');\n    quoteCurrency = 'USDT';\n    matched = true;\n    break;\n  }\n}\n\nif (!matched || !baseCurrency) {\n  return [{\n    chat_id: chatId,\n    text: \"❌ PAIR NOT FOUND. Examples:\\n• Rate BTC/USDT\\n• Rate ETHUSDT\\n• Rate USDRUB\",\n    business_connection_id: businessId,\n    reply_to_message_id: messageId\n  }];\n}\n\nconst cryptoList = ['BTC', 'ETH', 'BNB', 'SOL', 'XRP', 'ADA', 'DOGE', 'TON', 'LINK', 'TRX', 'MATIC', 'DOT', 'AVAX'];\nconst fiatList = ['USD', 'RUB', 'EUR', 'GBP', 'JPY', 'CNY', 'CHF', 'AED', 'THB', 'TRY'];\n\n// Determine pair type\nconst isBaseCrypto = cryptoList.includes(baseCurrency);\nconst isQuoteCrypto = quoteCurrency ? cryptoList.includes(quoteCurrency) : false;\nconst isBaseFiat = fiatList.includes(baseCurrency);\nconst isQuoteFiat = quoteCurrency ? fiatList.includes(quoteCurrency) : false;\n\nlet exchangeType = '';\nlet tradingViewSymbol = '';\nlet displayPair = '';\n\nif ((isBaseCrypto || isQuoteCrypto) && !(isBaseFiat && isQuoteFiat)) {\n\n  exchangeType = 'crypto';\n  if (!quoteCurrency) quoteCurrency = 'USDT';\n  displayPair = `${baseCurrency}/${quoteCurrency}`;\n  tradingViewSymbol = `BINANCE:${baseCurrency}${quoteCurrency}`;\n} else {\n\n  exchangeType = 'forex';\n  if (!quoteCurrency) {\n    quoteCurrency = 'USD';\n  }\n  displayPair = `${baseCurrency}/${quoteCurrency}`;\n  tradingViewSymbol = `FX_IDC:${baseCurrency}${quoteCurrency}`;\n}\n\nconst chartLink = `https://www.tradingview.com/chart/?symbol=${tradingViewSymbol}`;\n\nlet binanceSymbol = null;\nif (exchangeType === 'crypto') {\n  binanceSymbol = `${baseCurrency}${quoteCurrency}`;\n}\n\nreturn [{\n  chat_id: chatId,\n  baseCurrency: baseCurrency,\n  quoteCurrency: quoteCurrency,\n  displayPair: displayPair,\n  exchangeType: exchangeType,\n  tradingViewSymbol: tradingViewSymbol,\n  binanceSymbol: binanceSymbol,\n  chartLink: chartLink,\n  business_connection_id: businessId,\n  reply_to_message_id: messageId\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        144
      ],
      "id": "b0d213fc-dc66-406f-b5bf-6fd41ef2366d",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "content": "## Binance + chart\n\nhttps://api.binance.com/api/v3/ticker/24hr?symbols=[\"{{ $json.binanceSymbol }}\"]\n\nhttps://api.binance.com/api/v3/ticker/24hr?symbols=[\"BTCUSDT\"]",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -160
      ],
      "typeVersion": 1,
      "id": "b31b5ec7-4810-49df-a763-7720bd5f68d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "[\n  {\n    \"totalCount\": 1,\n    \"data\": [\n      {\n        \"s\": \"FX_IDC:USDRUB\",\n        \"d\": [\n          71.035,\n          -0.07736671824448842\n        ]\n      }\n    ]\n  }\n]",
        "height": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        336
      ],
      "typeVersion": 1,
      "id": "3d970e72-f4bd-460f-a0c8-782722bbdb27",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Forex + chart\n\nhttps://scanner.tradingview.com/forex/scan\n\n{\n  \"symbols\": {\n    \"tickers\": [\n      \n      \"{{ $json.tradingViewSymbol }}\"\n    ]\n  },\n  \"columns\": [\"close\", \"change\"]\n} ",
        "height": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        336
      ],
      "typeVersion": 1,
      "id": "acb0cac5-6210-4b23-8934-eb9e901d17b5",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Binance Ticker": {
      "main": [
        [
          {
            "node": "Format Crypto Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Crypto Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is crypto?": {
      "main": [
        [
          {
            "node": "Get Binance Ticker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Forex Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Forex Rates": {
      "main": [
        [
          {
            "node": "Format Forex Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Forex Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "is crypto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49bb09b1-3194-4501-9d8d-a23272a4fd49",
  "meta": {
    "instanceId": "148b2b278c24b3c49bc4399db7e7ce15ed94f5b1044d28401c56f6ab511f0347"
  },
  "id": "6U0KACxsJymQRoiU",
  "tags": [
    {
      "createdAt": "2026-05-31T14:33:31.053Z",
      "updatedAt": "2026-05-31T14:33:31.053Z",
      "id": "EeoUQcpBgPRnqC56",
      "name": "reddit"
    }
  ]
}