Secretary Agent.json
{
  "name": "Secretary Agent",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.telegram.org/bot8800811205:AAEKLbn5yJkIliXDEpJteRrCbngHgTwftf0/setWebhook?url=https://n8n.bitcoinlimb.com/webhook/7fc9fe99-4832-401b-a3aa-4a802089d750",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        1104
      ],
      "id": "bf445a2d-a96a-4f36-990b-8c83bb6c96c1",
      "name": "Set Telegram Webhook"
    },
    {
      "parameters": {
        "content": "## 2. Set Telegram Webhook\n\nURL: \nhttps://api.telegram.org/bot8800811205:AAEKLbn5yJkIliXDEpJteRrCbngHgTwftf0/setWebhook?url=https://n8n.bitcoinlimb.com/webhook/7fc9fe99-4832-401b-a3aa-4a802089d750\n## ________\nhttps://api.telegram.org/botYOUR_BOT_TOKEN_TELEGRAM/setWebhook?url=https://n8n.com/webhook/Path\n\n## ________\n\n## Execute Step (Set Telegram Webhook)",
        "height": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        864
      ],
      "typeVersion": 1,
      "id": "977ef61d-2fe4-411b-ae29-cbba971e8095",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Create bot with @BotFather Telegram bot\n\nPick your bot and press Bot Settings button\nChoose Secretary mode\nTurn secretary mode on\n\nGo to telegram settings\nPress Telegram Business button \nThem choose Chatbots\n\nAdd your bot\nChoose what chat bot can access\n\nFor tests its better to choose only manage messages with permission \nRead, Reply, Mark messages as Read.\n\nN8N\nCreate Webhook",
        "height": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        576
      ],
      "typeVersion": 1,
      "id": "650c7dd0-fdfd-445d-8bed-06fc32d39f57",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a68090c7-5182-47d1-92a7-90a69843742f",
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "rightValue": "Crypto rates",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crypto rates"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c592197b-e19a-427f-9a28-f8277a54cf57",
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "rightValue": "Currency rates",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Currency rates"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d9e00b3-689f-4573-8260-3fe9b62004a5",
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "rightValue": "=Rate",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    },
                    "id": "3e7890f3-aa1e-4334-a658-8ad80764ce08"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        672
      ],
      "name": "Route Commands",
      "id": "006f8ac8-b2ef-4749-a212-58b6080d0a11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        384,
        720
      ],
      "id": "070966bb-7e05-4943-9b24-1fe48cab3d74",
      "name": "Respond to Webhook (200 OK)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c0d3f88-fc31-43b5-90b3-1622142d93b2",
              "leftValue": "={{ $json.body.business_message.from.id }}",
              "rightValue": "=YOUR_TELEGRAM_USER_ID (numbers only)",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        384
      ],
      "id": "2097b35c-4a24-4fa7-bc50-a677fd8f11e6",
      "name": "is account owner?",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -720,
        224
      ],
      "id": "691e8e2a-1236-47ef-91d5-e47276150bed",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7fc9fe99-4832-401b-a3aa-4a802089d750",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -928,
        704
      ],
      "id": "6f6f5543-160f-484b-9487-499d9d660974",
      "name": "Webhook",
      "webhookId": "7fc9fe99-4832-401b-a3aa-4a802089d750"
    },
    {
      "parameters": {
        "content": "## 1. Create Webhook\n\nOpen webhook\nAnd copy Path:\nfor example, my path is - Path: 7fc9fe99-4832-401b-a3aa-4a802089d750\n## ________\nI will delete this from my side same as Telegram bot API token.",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        576
      ],
      "typeVersion": 1,
      "id": "4059c6c0-9114-4981-91bf-66d4e47c0aec",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "[\n  {\n    \"ok\": true,\n    \"result\": true,\n    \"description\": \"Webhook was set\"\n  }\n]",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        1072
      ],
      "typeVersion": 1,
      "id": "f54d5a28-075f-496e-aa32-0ad78a1ca4e5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 3. Activate workflow \n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        1456
      ],
      "typeVersion": 1,
      "id": "4c9b8615-cd9b-43be-bce4-43d136509013",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## First\n\nCreate Messages workflow\n(Download or copy json from repo)\n\n**Workflow** \nFrom List - Messaes",
        "height": 208,
        "width": 374,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        848
      ],
      "typeVersion": 1,
      "id": "cc3c9268-23e0-446f-a6b6-817442f46406",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## In case if you dont want to be as a trigger for your Secretary Agent",
        "height": 736,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        64
      ],
      "typeVersion": 1,
      "id": "b54c4450-b167-408c-bfb3-ee93abb2e542",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Open Telegram\n\n0. Open BotFather and copy your bot link:\nt.me/your_bot.\n00. Open yourbot settings - Secretary mode - Turn on.\n000. Open yourbot and start it.\n\nTelegram App:\n1)Settings\n2)Telegram Business\n3)Chatbots\n4)Chat Automation (Screen)\n\nBotUsername or Link: paste your link from step (0).\n\n**Chat The Bot Can Access**\n\nOnly Selected Chats\n\nIncluded Chats > Your friend or another account.\n\n**Bot Permissions**\n\nManage Messages: Choose 5/5\n\nDo not touch Manage Profile, Manage Gifts and Stars, Manage Stories for now.",
        "height": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        1552
      ],
      "typeVersion": 1,
      "id": "6e3dd0b8-6ed0-46d6-94d1-8ce59502c66f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Second (easy) Addwd for fun.\n\nCopy JSON from Crypto rates workflow",
        "height": 576,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        240
      ],
      "typeVersion": 1,
      "id": "284e8739-1323-4a7b-b6b7-2e40ac90d8e6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## POST\n\nRespond (Using Responde to Webhook node)",
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        576
      ],
      "typeVersion": 1,
      "id": "5d2df727-e91b-4761-9d06-f1f628c91239",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w6aQHR9Rmb6UdlrR",
          "mode": "list",
          "cachedResultName": "Messages"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        928
      ],
      "id": "4ee25294-0754-4853-a235-b23c32faf4c7",
      "name": "Messsages"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vJkb8BRltug2ThRv",
          "mode": "list",
          "cachedResultName": "Crypto rates"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -80,
        400
      ],
      "id": "fd4eac86-bc87-4c93-9656-e5aa6bae650b",
      "name": "Crypto rates"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uOM6FAQkWuXEkEVD",
          "mode": "list",
          "cachedResultName": "Currency rates"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -80,
        560
      ],
      "id": "1da22cff-9a76-40ba-afa0-ec5c4ee973ac",
      "name": "Currency rates"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6U0KACxsJymQRoiU",
          "mode": "list",
          "cachedResultName": "Rate with TradingView"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        720
      ],
      "id": "72451b86-6489-4462-ba0c-46672e0dd8a8",
      "name": "Rate"
    }
  ],
  "pinData": {},
  "connections": {
    "Route Commands": {
      "main": [
        [
          {
            "node": "Crypto rates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Currency rates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Messsages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is account owner?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messsages": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto rates": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Currency rates": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7669666-9898-4cab-97ed-20f253eefcbb",
  "meta": {
    "instanceId": "148b2b278c24b3c49bc4399db7e7ce15ed94f5b1044d28401c56f6ab511f0347"
  },
  "id": "EG0qMYoF0z34f44k",
  "tags": [
    {
      "createdAt": "2026-05-31T14:33:31.053Z",
      "updatedAt": "2026-05-31T14:33:31.053Z",
      "id": "EeoUQcpBgPRnqC56",
      "name": "reddit"
    }
  ]
}