Secretary Agent V 1.1.json
{
  "name": "Secretary Agent V 1.1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7fc9fe99-4832-401b-a3aa-4a802089d750",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1312,
        896
      ],
      "id": "20bce0ff-e55f-4cff-ba19-73df5750735d",
      "name": "Telegram Webhook",
      "webhookId": "0bb48842-d6a1-4b42-b941-238f3dde2741"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.executionMode }}",
                    "rightValue": "test",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fddc33a1-49ad-466e-9994-96ac8fe31aac"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "test"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a68090c7-5182-47d1-92a7-90a69843742f",
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "rightValue": "Дай курсы криптовалют",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Give me crypto rates"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c592197b-e19a-427f-9a28-f8277a54cf57",
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "rightValue": "Дай курсы валют",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Give me rates"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d9e00b3-689f-4573-8260-3fe9b62004a5",
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "rightValue": "=Курс",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "058d2a77-4fe0-461a-8b06-862670b75c84",
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "rightValue": "Music",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Music"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "79031251-f3e1-4015-a96f-f91e7b7a08fd",
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "rightValue": "Музыка",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Музыка"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1b21cb6-9d08-4e8e-a2b0-8bebf3c85e17",
                    "leftValue": "={{ $json.body.business_message.entities[0].type }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email sent by user"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.business_message.text }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    },
                    "id": "3e7890f3-aa1e-4334-a658-8ad80764ce08"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40fbb706-d5df-45b5-bff1-4485f29ffb35",
                    "leftValue": "={{ $json.body.callback_query.data }}",
                    "rightValue": "/calls",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/calls button"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "602b019f-ce68-4ae3-be06-657d8297d577",
                    "leftValue": "={{ $json.body.callback_query.data }}",
                    "rightValue": "dzmore|",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "More Music"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2e66439-7cd6-4d7e-9591-d1f4c91735a4",
                    "leftValue": "={{ $json.body.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=callback_query"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4e107e2a-a1b0-4cb8-978f-60b2525649c4",
                    "leftValue": "={{ $json.body.business_message.photo[0].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ART create"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -720,
        736
      ],
      "name": "Route Commands",
      "id": "83ad4b56-c027-422c-a80b-83c2ae80b9cf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        480,
        912
      ],
      "id": "e37feaf6-a1e4-4d9e-b449-68c57d2953f7",
      "name": "Respond to Webhook (200 OK)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCjXnO0JwRfHJ91X",
          "mode": "list",
          "cachedResultName": "Message PocketAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        992
      ],
      "id": "a21692c2-a01f-41ff-9290-92f642244ee4",
      "name": "Message flow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c0d3f88-fc31-43b5-90b3-1622142d93b2",
              "leftValue": "={{ $json.body.business_message.from.id }}",
              "rightValue": 136124728,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        704
      ],
      "id": "8387c80b-8a5b-450e-8eae-b2c031000930",
      "name": "is account owner?",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1024,
        544
      ],
      "id": "ea2b3e8e-483b-4c3d-b340-d87cb1372573",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PEDA7GTQ8XECl45u",
          "mode": "list",
          "cachedResultName": "/calls Button PocketAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        1168
      ],
      "id": "d3e2157a-711d-419f-abf5-7dd1c91a247e",
      "name": "Message /calls button"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aM6Mifdem7e2z6Mv",
          "mode": "list",
          "cachedResultName": "email sent by user PocketAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        816
      ],
      "id": "898c0cad-70a5-4636-bb92-01aa358c4f69",
      "name": "Email sent by user"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCjXnO0JwRfHJ91X",
          "mode": "list",
          "cachedResultName": "Message PocketAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        0
      ],
      "id": "5e72c57d-114c-465e-844d-41a5f17b300f",
      "name": "Test"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Gt0aJjOJ5ratiul",
          "mode": "list",
          "cachedResultName": "PocketLine Music Search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        672
      ],
      "id": "c6ccb31c-68f7-487b-9f14-e0fafd438511",
      "name": "PocketLine Music Search"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CltUKSYcxc8yOaHJ",
          "mode": "list",
          "cachedResultName": "PocketAI More Music"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        1360
      ],
      "id": "dbcdf439-3a88-4320-87d0-e218d026fb12",
      "name": "More Music"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CgEVsYpegLbZtJQw",
          "mode": "list",
          "cachedResultName": "Callback PocketAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        1552
      ],
      "id": "5df744dc-73dc-4b9f-ba14-0e1782994b20",
      "name": "Callback PocketAI"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2qEZ7eaHdPEsLtP8",
          "mode": "list",
          "cachedResultName": "ART create PocketAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        1760
      ],
      "id": "cb1ff570-283c-4afb-a7ca-515d93e2b2af",
      "name": "ART create PocketAI"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot8800811205:AAEKLbn5yJkIliXDEpJteRrCbngHgTwftf0/setWebhook?url=https://n8n.bitcoinlimb.com/webhook/7fc9fe99-4832-401b-a3aa-4a802089d750",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        800
      ],
      "id": "2678462e-95ca-4c52-876e-fdb767b53978",
      "name": "Set Telegram Webhook"
    },
    {
      "parameters": {
        "content": "## 2. Set Telegram Webhook\n\nURL: \nhttps://api.telegram.org/bot8800811205:AAEKLbn5yJkIliXDEpJteRrCbngHgTwftf0/setWebhook?url=https://n8n.bitcoinlimb.com/webhook/7fc9fe99-4832-401b-a3aa-4a802089d750\n## ________\nhttps://api.telegram.org/botYOUR_BOT_TOKEN_TELEGRAM/setWebhook?url=https://n8n.com/webhook/Path\n\n## ________\n\n## Execute Step (Set Telegram Webhook)",
        "height": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1984,
        336
      ],
      "typeVersion": 1,
      "id": "56cb132c-7099-41bc-a584-03dda5fbcec7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Create bot with @BotFather Telegram bot\n\nPick your bot and press Bot Settings button\nChoose Secretary mode\nTurn secretary mode on\n\nGo to telegram settings\nPress Telegram Business button \nThem choose Chatbots\n\nAdd your bot\nChoose what chat bot can access\n\nFor tests its better to choose only manage messages with permission \nRead, Reply, Mark messages as Read.\n\nN8N\nCreate Webhook",
        "height": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2224,
        48
      ],
      "typeVersion": 1,
      "id": "a7271cdd-f5bf-4e13-b491-b9719d5c62eb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 1. Create Webhook\n\nOpen webhook\nAnd copy Path:\nfor example, my path is - Path: 7fc9fe99-4832-401b-a3aa-4a802089d750\n## ________\nI will delete this from my side same as Telegram bot API token.",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1984,
        48
      ],
      "typeVersion": 1,
      "id": "be1125e1-8580-496f-965e-dc7256ad4b21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "[\n  {\n    \"ok\": true,\n    \"result\": true,\n    \"description\": \"Webhook was set\"\n  }\n]",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        768
      ],
      "typeVersion": 1,
      "id": "37ba9e7b-c171-4a5c-83b4-65f5b7a574e4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 3. Activate workflow \n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1984,
        928
      ],
      "typeVersion": 1,
      "id": "7172eef3-513a-42f0-81e6-41ca1ab206e9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## In case if you dont want to be as a trigger for your Secretary Agent",
        "height": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        400
      ],
      "typeVersion": 1,
      "id": "c1dfd92d-54f2-4664-b7c9-0039bceed2c5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Open Telegram\n\n0. Open BotFather and copy your bot link:\nt.me/your_bot.\n00. Open yourbot settings - Secretary mode - Turn on.\n000. Open yourbot and start it.\n\nTelegram App:\n1)Settings\n2)Telegram Business\n3)Chatbots\n4)Chat Automation (Screen)\n\nBotUsername or Link: paste your link from step (0).\n\n**Chat The Bot Can Access**\n\nOnly Selected Chats\n\nIncluded Chats > Your friend or another account.\n\n**Bot Permissions**\n\nManage Messages: Choose 5/5\n\nDo not touch Manage Profile, Manage Gifts and Stars, Manage Stories for now.",
        "height": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1984,
        1024
      ],
      "typeVersion": 1,
      "id": "1d87e4c8-ba06-4dd0-91df-3487694d2320",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## POST\n\nRespond (Using Responde to Webhook node)",
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        768
      ],
      "typeVersion": 1,
      "id": "5a6abedb-0660-4dc4-b16e-8237f3fe5ed0",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iEYr8kfD9Rrj5141",
          "mode": "list",
          "cachedResultName": "PocketLine топ 10 курс"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        160
      ],
      "id": "96ca677e-4a30-49c4-a8c7-9a5eb0be6870",
      "name": "TOP 10 Crypto"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nnxz0nkYJBJ7lS5E",
          "mode": "list",
          "cachedResultName": "Курсы валют"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        320
      ],
      "id": "39f5309a-182d-4427-a890-250bd578ebee",
      "name": "TOP 10 Currency Rates"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yXPXBvBBQekPKChR",
          "mode": "list",
          "cachedResultName": "Trading View запрос"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        496
      ],
      "id": "f449ef11-8f69-4a7b-a6aa-b8a21cf23284",
      "name": "Rate with Chart"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Route Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Commands": {
      "main": [
        [
          {
            "node": "Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TOP 10 Crypto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TOP 10 Currency Rates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate with Chart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PocketLine Music Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PocketLine Music Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email sent by user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message flow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message /calls button",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "More Music",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback PocketAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ART create PocketAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message flow": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is account owner?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message /calls button": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email sent by user": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PocketLine Music Search": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Music": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback PocketAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ART create PocketAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TOP 10 Crypto": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TOP 10 Currency Rates": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate with Chart": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c1d6397-79db-439b-bc0f-0f438e3c6cf5",
  "meta": {
    "instanceId": "148b2b278c24b3c49bc4399db7e7ce15ed94f5b1044d28401c56f6ab511f0347"
  },
  "id": "xeoNhWLoF0GrJ0i8",
  "tags": []
}