Secretary callback Switch Router.json
{
  "name": "Secretary callback Switch Router",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1840,
        320
      ],
      "id": "e8342b01-c525-4e4f-be26-f8deb1ec18dc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst callback = body.callback_query;\nconst message = callback.message;\nconst chatId = message.chat.id;\nconst messageId = message.message_id;\n\nconst from = callback.from;\nconst username = from.username || null;\nconst firstName = from.first_name || '';\nconst lastName = from.last_name || '';\nconst isPremium = from.is_premium || false;\nconst languageCode = from.language_code || 'en';\nconst callbackData = callback.data || '';\n\nconst businessConnectionId = message.business_connection_id || null;\n\nconst parts = callbackData.split('|');\nconst action = parts[0];\nconst param1 = parts[1] || null;\nconst param2 = parts[2] || null;\n\nlet handlerType = 'unknown';\n\nif (action === 'get') {\n  handlerType = 'get_file';\n} else if (action === 'dz') {\n  handlerType = 'download_track';\n} else if (action === 'add_to_playlist') {\n  handlerType = 'add_to_playlist';\n} else if (action === 'playlist_view') {\n  handlerType = 'playlist_view';\n} else if (action === 'playlist_send_all') {\n  handlerType = 'playlist_send_all';\n} else if (action === 'more') {\n  handlerType = 'more_results';\n} else if (action === 'dzmore') {\n  handlerType = 'dzmore_results';\n} else if (action === 'playlist_add') {\n  handlerType = 'playlist_add';\n}\n\nreturn [{\n  json: {\n    handler_type: handlerType,\n    chat_id: chatId,\n    message_id: messageId,\n    username: username,\n    first_name: firstName,\n    last_name: lastName,\n    is_premium: isPremium,\n    language_code: languageCode,\n    callback_data: callbackData,\n    action: action,\n    param1: param1,\n    param2: param2,\n    business_connection_id: businessConnectionId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        320
      ],
      "id": "0b066cbc-cd4e-45a4-9f8f-0aee74c93070",
      "name": "Parse callback data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "get|",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "route-get"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-dz",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "dz|",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "download_track"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-add",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "add_to_playlist|",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_to_playlist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-view",
                    "leftValue": "={{ $json.handler_type }}",
                    "rightValue": "playlist_view",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "playlist_view"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-send-all",
                    "leftValue": "={{ $json.handler_type }}",
                    "rightValue": "playlist_send_all",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "playlist_send_all"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-more",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "more|",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "more_results"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-dzmore",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "dzmore|",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "dzmore_results"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-playlist-add",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "playlist_add|",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "playlist_add"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd1774b1-7430-4760-86bc-2397acd60ee2",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "/soundsearch",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Music Mode selector"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-unknown",
                    "leftValue": "={{ $json.handler_type }}",
                    "rightValue": "unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unknown"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c938d8d8-28b6-4521-838c-f933065035d9",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "/deactivate",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Handler: /deactivate PRO Music Mode"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "43ce2a8a-c3d6-453c-9884-211d1a76e0b0",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.callback_query.data }}",
                    "rightValue": "/pro_mode",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Handler: Activate PRO Music Mode"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1312,
        160
      ],
      "id": "d9e839be-2eb4-4197-980e-f50ef97f9851",
      "name": "Route to specific handler"
    },
    {
      "parameters": {
        "jsCode": "const callbackData = $('Parse callback data').item.json;\n\nreturn [{\n  json: {\n    body: {\n      callback_query: {\n        data: callbackData.callback_data,\n        from: {\n          id: callbackData.chat_id,\n          is_bot: false,\n          first_name: callbackData.first_name,\n          username: callbackData.username,\n          language_code: callbackData.language_code,\n          is_premium: callbackData.is_premium\n        },\n        message: {\n          message_id: callbackData.message_id,\n          chat: {\n            id: callbackData.chat_id,\n            type: \"private\"\n          },\n          business_connection_id: callbackData.business_connection_id\n        }\n      }\n    },\n    track_id: callbackData.param1,\n    chat_id: callbackData.chat_id,\n    business_connection_id: callbackData.business_connection_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        176
      ],
      "id": "435ffa45-5f9d-4be7-a610-072f856c5f06",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lwmDHiOe1wDIye58",
          "mode": "list",
          "cachedResultName": "Download track PocketAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -592,
        176
      ],
      "id": "7cd8211c-35d3-487e-92ed-c0917f12ea82",
      "name": "Download track PocketAI"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse callback data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse callback data": {
      "main": [
        [
          {
            "node": "Route to specific handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to specific handler": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Download track PocketAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "823f369e-ab27-4f3d-b5da-731edcd6aa62",
  "meta": {
    "instanceId": "148b2b278c24b3c49bc4399db7e7ce15ed94f5b1044d28401c56f6ab511f0347"
  },
  "id": "OHPGiBX1997imKHo",
  "tags": []
}